@model string
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ошибка поиска";
}
<div>
    <label style="color:crimson; font-size:large">
        Данные пользователя не соответствуют СНИЛС: @Model
    </label>
</div>
