@model string
@{
    Layout = "_Layout";
    ViewData["Title"] = "Нет совпадений";
}
<div>
    <label  style="color:crimson; font-size: 16px">По номеру СНИЛС @Model нет записей в базе данных.</label>
</div>
